<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">
                        Patients
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="dropdown-item"
                                                                                          th:href="@{/formPatients}">New</a>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/index}">List Patients</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0 float-end">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        <span th:text="${#authentication.name}"> </span>
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        <li><a class="dropdown-item">Profile</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div layout:fragment="content1"></div>

</body>
</html>